/* Adding default values */
*{
    padding : 0 ;
    margin : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* container containing everthing */
.main_container{
     background: linear-gradient(135deg, #1a1a2e, #16213e);
    min-height: 100vh;
    padding : 1rem ;
    margin : 0 auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 2rem ;

    
}
h1{
    color : white ;
}
/* contianer containg input */
.container{
    max-width: 1000px ;
    margin : 0 auto ;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap : 1rem ;

}
/* setting input style */
.input input ,  .input button{
    border : none ;
    padding : 0.6rem 1rem  ;


}
.input{
    width: 100% ;
    display: flex;
  
    flex-wrap: wrap;
    gap : 1rem ;
}
.otherData{
    display: flex;
    gap : 2rem ;

}
.card{
    padding : 2rem ;
}
.temp{
    text-align: center;
}
.img{
    text-align: center;
}
.result{
    color : white ;
    flex-direction: column;

    display: flex;
    justify-content: center;



    
    

    gap : 2rem ;

}
.temp , .wind ,.humidity{
    border: 2px solid white;
    border-radius: 10px;
    
    

}
.img img{
    width : 200px ;
}